
.profile-container {text-align: center;}
.profile-container h2{font-size: 22px;background-color: rgb(245, 248, 194); display: inline-block; padding: 15px 0; width: 250px; border-radius: 25px;}
.profile-container ul{font-size: 20px; list-style-type:none; padding: 0;}
